.products__container{
    background-color: #F5F5F5;
}

.products__div{
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 60px;
    padding-top: 60px;
}

.products__texts{
    display: flex;
    justify-content: space-between;
}

.products__categoria{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #464646;
}

.products__titleArrow{
    display: flex;
    align-items: center;
}

.products__products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products__single{
    padding-top: 30px;
    padding-bottom: 30px;

}

.products__addProducts{
    position: relative;
    width: 164px;
    height: 51px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border: none;
    background-color: #2A7AE4;
    cursor: pointer;
}


.products__image{
    margin-bottom: 5px;
}

.products__name{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
    margin-bottom: 5px;
}

.products__price{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    font-weight: bold;
    margin-bottom: 5px;
}

.products__link{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2A7AE4;
    font-weight: bold;
}


/* **************************************************************** */

@media screen and (min-width: 0px) and (max-width: 562px){ /*mobile */
    .products__div{
        margin-left: 18px;
        margin-right: 18px;
    }

}

@media screen and (min-width:563px) and (max-width: 769px){ /*tablet */
    .products__div{
        margin-left: 36px;
        margin-right: 36px;
    }

}

@media screen and (min-width: 770px) and (max-width: 1024px){ /*laptop */
    .products__products{
        justify-content:space-between;
    }
}

@media screen and (min-width:1025px){ /*desktop */
    .products__div{
        margin-left: 156px;
        margin-right: 156px;
    }
}